# Ignore l'environnement virtuel
venv/

# Ignore les fichiers générés par Docker
*.log
*.pid
*.swp
__pycache__/
.env

# Ignore les fichiers de configuration de VSCode
.vscode/

# Ignore les images Docker et les conteneurs
*.tar
*.img

